body {
    background-color: #F0F1EF;
}

#componentsTables table {
    border-collapse: collapse;
    width: 100%;
}

#componentsTables td,th {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#componentsTables tr:nth-child(even) {
    background-color: #808080;
}

#componentsTables p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#indexMenu ul {
    list-style-type: none;
}

#indexMenu li:nth-child(even) {
    background-color: #DAE0E5;
}

#indexMenu li:nth-child(even) a:hover {
    background-color: #F3F9FF;
}

#indexMenu li:nth-child(odd) {
    background-color: #60B5C5;
}

#indexMenu li:nth-child(odd) a:hover {
    background-color: #7FC3D0;
}

#indexMenu a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#ledForm, #boardForm, #jumperwireForm, #resistorForm  {
    display: none;
    background-color: #E5E5E5;
    text-align: center;
}
#ledForm input[type=submit], #boardForm input[type=submit],
#jumperwireForm input[type=submit], #resistorForm input[type=submit] {
    background-color: #008080;
    color: #000000;
    width: 50%;
    padding: 15px 70px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

#ledForm input[type=text], #boardForm input[type=text],
#jumperwireForm input[type=text], #resistorForm input[type=text] {
    padding: 15px 15px;
    margin: 8px 0;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#ledForm input[type=number], #boardForm input[type=number],
#jumperwireForm input[type=number], #resistorForm input[type=number] {
    -webkit-appearance: none;
    width: 50%;
}

select {
    width: 50%;
    border: 1px solid transparent;
    background-color: #FFFFFF;
}

#customButtons button {
    background-color: #065535;
    color: #FFFFFF;
    width: 50%;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#customButtons button:hover {
    background-color: #1E6649;
}

#backtoMenu a {
    color: #468499;
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

#backtoMenu a:hover {
    color: #5890A3;
}
