<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/electronics-list/
							static/css/style.css">

        <title> Index </title>
    </head>
    <body>
        <div id="indexMenu">
                        <li><a href="/components">Components List</a></li>
                        <li><a href="/add_component">Add Component</a></li>
                        <li><a href="/remove_component">Remove Component</a></li>
                        <li><a href="/update_component">Update Component</a></li>
            </ul>
        </div>
    </body>
</html>
