<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/electronics-list/
							static/css/style.css">

        <script src="src/github.com/KNaiskes/electronics-list/static/js/script.js"></script>

        <title> Update Component </title>
    </head>

    <body>
        <center><h2> Update a component </h2></center>

        <div id="customButtons">
            <button onclick = "hideForm('ledForm')"> Led </button>
        </div>
        <div id = "ledForm">
            <form action="" method="POST">
                <p>
                <h4> Enter led's color that you wan to update </h4>
                <input type="text" placeholder="Color"
                                   name="color" value="" required>
                </p>
                <p>
                <h4> Update pieces: </h4>
                <input type="number" name="pieces" min="1" max="">
                </p>
                <h4> Update color: </h4>
                <input type="text" placeholder="Update color"
                                   name="updatedColor" value=""
                                                       required>
                </p>
                <p>
                <input type="submit" value="Submit_Led" name="submit">
                </p>
            </form>
        </div>

        <div id="customButtons">
            <button onclick = "hideForm('boardForm')"> Board </button>
        </div>
        <div id = "boardForm">
            <form action="" method="POST">
                <p>
                <h4> Enter board's name that you want to update </h4> 
                <input type="text" placeholder="Name"
                                   name="name" value="" required>
                </p>
                <p>
                <h4> Update pieces </h4>
                <input type="number" name="pieces" min="1" max="">
                </p>
                <p>
                <h4> Update name </h4>
                <input type="text" placeholder="Update Name"
                                   name="updatedName" value=""
                                                      required>
                </p>
                <p>
                <h4> Ethernet value: </h4>
                <select name="ethernet">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                </p>
                </p>
                <p>
                <h4> WiFi value: </h4>
                <select name="wifi">
                    <option value="true">True</option>
                    <option value="flase">False</option>
                </select>
                </p>
                </p>
                <p>
                <h4> Update version: </h4>
                <input type="text" placeholder="Update version"
                                   name="version" value="" required>
                </p>
                <p>
                <input type="submit" value="Submit_Board" name="submit">
                </p>
            </form>
        </div>

        <div id="customButtons">
            <button onclick = "hideForm('jumperwireForm')"> Jumper Wires </button>
        </div>
        <div id = "jumperwireForm">
            <form action="" method="POST">
                <p>
                <h4> Enter Jumper's wire type that you want to update </h4>
                <select name="type">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="male-male">Male-Male</option>
                    <option value="female-female">Female-Female</option>
                    <option value="male-female">Male-Female</option>
                </select>
                </p>
                <p>
                <h4> Update pieces: </h4>
                <input type="number" name="pieces" min="1" max="">
                </p>
                <p>
                <h4> Update CM </h4>
                <input type="number" name="cm" min="" max="" step="0.10">
                </p>
                <p>
                <h4> Update type: </h4>
                <select name="updateType">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="male-male">Male-Male</option>
                    <option value="female-female">Female-Female</option>
                    <option value="male-female">Male-Female</option>
                </select>
                </p>
                <p>
                <input type="submit" value="Submit_Jumper" name="submit">
                </p>
            </form>
        </div>

        <div id="customButtons">
            <button onclick = "hideForm('resistorForm')"> Resistor </button>
        </div>
        <div id = "resistorForm">
            <form action="" method="POST">
                <p>
                <h4> Enter resistor's value that you want to update </h4>
                <input type="number" name="value" min="" max="" step="0.10">
                </p>
                <p>
                <h4> Update pieces: </h4>
                <input type="number" name="pieces" min="1" max="">
                </p>
                <p>
                <h4> Update value: </h4>
                <input type="number" name="updateValue" min="" max="" step="0.10">
                </p>
                <p>
                <input type="submit" value="Submit_resistor"
                                     name="submit">
                </p>
            </form>
        </div>
    </body>

</html>
