<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/electronics-list/
							static/css/style.css">

        <script src="src/github.com/KNaiskes/electronics-list/static/js/script.js"></script>

        <title> Remove Component </title>
    </head>

    <body>
        {{ $msg := . }}
        <h1> {{ $msg }} </h1>
        <h4> Remove Component </h4>
        <button onclick = "hideForm('ledForm')"> Led </button>
        <button onclick = "hideForm('boardForm')"> Board </button>
        <button onclick = "hideForm('jumperwireForm')"> Jumper Wires </button>
        <button onclick = "hideForm('resistorForm')"> Resistor </button>

        <div id = "ledForm">
            <form action="" method="POST">
                <p>
                <h4> Enter led's color that you wan to remove </h4>
                <input type="text" placeholder="Color"
                                   name="color" value="" required>
                </p>
                <p>
                <input type="submit" value="Submit_Led" name="submit">
                </p>
            </form>
        </div>

        <div id = "boardForm">
            <form action="" method="POST">
                <p>
                <h4> Enter board's name that you want to remove </h4> 
                <input type="text" placeholder="Name"
                                   name="name" value="" required>
                </p>
                <p>
                <input type="submit" value="Submit_Board" name="submit">
                </p>
            </form>
        </div>

        <div id = "jumperwireForm">
            <form action="" method="POST">
                <p>
                <h4> Enter Jumper's wire type that you want to remove </h4>
                <input type="text" placeholder="Type"
                                   name="type" value="" required>
                </p>
                <p>
                <input type="submit" value="Submit_Jumper" name="submit">
                </p>
            </form>
        </div>

        <div id = "resistorForm">
            <form action="" method="POST">
                <p>
                <h4> Enter resistor's value that you want to remove </h4>
                <input type="text" placeholder="Value"
                                   name="value" value="" required>
                </p>
                <p>
                <input type="submit" value="Submit_resistor"
                                     name="submit">
                </p>
            </form>
        </div>
    </body>

</html>
